body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
  *,
  *:after,
  *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

.App {
  display: flex;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;

  max-width: 1300px;
}
